.movie-card {
    text-align: center;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.125);
}

.movie-image {
    border-radius: 8px;
}

.movie-title {
    font-family: Bree serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(230, 36, 244);
}


.btn {
    width: 110px;
    font-size: 12px;
    font-weight: 600;
    font-family: roboto;
}

.see-more {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.7);
}

.dvdscr {
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    font-family: cursive;
    margin: 0;
    opacity: 0.7;
}