.add-movie-container {
    height: 100vh;
}

.movie-form {
    width: 85vw;
}

.add-movie-heading {
    font-size: 24px;
    font-family: Bree serif;
}

.form-label {
    font-size: 16px;
    font-family: Bree serif;
}

@media only screen and (min-width: 992px) {
    .movie-form {
        width: 40vw;
    }

}